.chat-details {
  width: 100%;
  height: 100vh;
  padding: 10px;
  text-align: center;
  border-left: 1px solid #d40606;
  overflow-y: auto;
}

.chat-profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}
