<div class="container">
  <h2>Register</h2>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <!-- <p-inputicon class="pi pi-user" /> -->
    <div class="field">
      <label for="username">Enter your username</label>
      <input
        pInputText
        placeholder="username"
        name="username"
        [(ngModel)]="username"
        required
      />
    </div>

    <div class="field">
      <label for="password">Enter your email</label>
      <input
        pInputText
        placeholder="email"
        name="email"
        [(ngModel)]="email"
        required
      />
    </div>

    <!-- <p-inputicon class="pi pi-lock" /> -->
    <div class="field">
      <label for="password">Enter your password</label>
      <input
        pInputText
        placeholder="password"
        name="password"
        type="password"
        [(ngModel)]="password"
        required
      />
    </div>

    <p-button
      label="Register"
      severity="contrast"
      [style]="{ width: '100%' }"
      [disabled]="!loginForm.valid"
      (onClick)="onSubmit()"
    />

    <p-button
      label="Go to login"
      severity="contrast"
      [style]="{ width: '100%' }"
      [routerLink]="'/auth/login'"
    />
  </form>
</div>
