<div class="container">
  <h1>Register</h1>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="form-group">
      <label for="username">Enter your username</label>
      <input
        pInputText
        placeholder="username"
        name="username"
        type="text"
        [(ngModel)]="username"
        minlength="5"
        maxlength="20"
        required
      />
      <div
        *ngIf="
          loginForm.controls['username'].touched &&
          loginForm.controls['username'].invalid
        "
        class="text-danger"
      >
        Name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="email">Enter your email</label>
      <input
        pInputText
        placeholder="email"
        name="email"
        type="email"
        [(ngModel)]="email"
        required
        email
      />
      <div
        *ngIf="
          loginForm.controls['email'].touched &&
          loginForm.controls['email'].invalid
        "
        class="text-danger"
      >
        Email is required.
      </div>
    </div>

    <div class="form-group">
      <label for="password">Enter your password</label>
      <input
        pInputText
        placeholder="password"
        name="password"
        type="password"
        [(ngModel)]="password"
        minlength="5"
        maxlength="20"
        required
      />
      <div
        *ngIf="
          loginForm.controls['password'].touched &&
          loginForm.controls['password'].invalid
        "
        class="text-danger"
      >
        Password is required.
      </div>
    </div>

    <p-button
      label="SignUp"
      severity="contrast"
      [style]="{ width: '100%' }"
      [disabled]="!loginForm.valid"
      (onClick)="onSubmit()"
    />

    <p-button
      label="LOGIN"
      severity="contrast"
      [style]="{ width: '100%' }"
      [routerLink]="'/auth/login'"
    />
  </form>
</div>
