<div class="body" *ngIf="data$ | async as data">
  <app-left-panel
    [currentTurn]="data.sessionInfo.currentTurn"
    (submitForm)="data.submitAction($event)"
  ></app-left-panel>
  <div class="chess-container">
    <div class="rowIndex">
      <h1>a</h1>
      <h1>b</h1>
      <h1>c</h1>
      <h1>d</h1>
      <h1>e</h1>
      <h1>f</h1>
      <h1>g</h1>
      <h1>h</h1>
    </div>
    <div class="chessboard">
      <div
        *ngFor="let row of data.sessionInfo.fieldState; let rowIndex = index"
        class="row"
      >
        <h1 style="margin-right: 10px">{{ 8 - rowIndex }}</h1>
        <div
          *ngFor="let cell of row; let colIndex = index"
          class="cell"
          [class.dark]="(rowIndex + colIndex) % 2 === 1"
          [class.light]="(rowIndex + colIndex) % 2 === 0"
        >
          <span *ngIf="cell">
            <img [src]="cell | iconPathPipe" />
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
