<div>
  <app-board-header></app-board-header>
  <div class="container">
    <h2 style="display: flex; justify-content: center" id="move-turn-h2">
      Move Turn - {{ currentTurn | sideToColor | uppercase }}
    </h2>
    <form (ngSubmit)="onSubmit()">
      <label for="from">From: </label>
      <input
        type="text"
        name="from"
        [(ngModel)]="moveFrom"
        placeholder="Ex: a7"
        maxlength="2"
      />
      <label for="to">To: </label>
      <input
        type="text"
        name="to"
        [(ngModel)]="moveTo"
        placeholder="Ex: a5"
        maxlength="2"
      />
      <br />
      <p-button
        type="submit"
        variant="outlined"
        [style]="{ width: '100%', padding: '12px' }"
        id="move-btn"
        >Move</p-button
      >
    </form>
    <br />
    <p-button
      id="leave-game-btn"
      severity="danger"
      variant="outlined"
      [style]="{ width: '100%', padding: '12px' }"
      (click)="toggleDialog()"
      >Leave the game <i class="pi pi-sign-out"></i
    ></p-button>
  </div>
</div>

<div class="card flex justify-center">
  <p-dialog
    header="Are you sure you want to leave?"
    [(visible)]="visible"
    [modal]="true"
    [style]="{ width: '30vw' }"
    [draggable]="false"
    [resizable]="false"
  >
    <p [style]="{ border: '1px solid white', padding: '20px',  }">
      If you leave, the game will be finished!!
    </p>
    <p-button
      label="Leave"
      variant="outlined"
      severity="danger"
      (onClick)="stopGame()"
      [style]="{ margin: '10px' }"
    />

    <p-button label="Cancel" variant="outlined" (onClick)="toggleDialog()" />
  </p-dialog>
</div>
