<div>
  <app-board-header></app-board-header>
  <div class="container">
    <h2 style="display: flex; justify-content: center" id="move-turn-h2">
      Move Turn - {{ currentTurn | uppercase }}
    </h2>
    <form (ngSubmit)="onSubmit()">
      <label for="from">From: </label>
      <input
        type="text"
        name="from"
        [(ngModel)]="moveFrom"
        placeholder="Ex: a7"
        maxlength="2"
      />
      <label for="to">To: </label>
      <input
        type="text"
        name="to"
        [(ngModel)]="moveTo"
        placeholder="Ex: a5"
        maxlength="2"
      />
      <br />
      <p-button type="submit" [style]="{ width: '100%' }" id="move-btn"
        >Move</p-button
      >
    </form>
    <br />
    <p-button
      id="leave-game-btn"
      severity="danger"
      [style]="{ width: '100%' }"
      (onClick)="stopGame()"
      [routerLink]="'/chess'"
      >Leave the game <i class="pi pi-sign-out"></i
    ></p-button>
  </div>
</div>
